{% extends '::base.html.twig' %}

{% block body -%}


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>List of categories</h1>
            </div>
        </div>

    </div>

    <br>

    {% for entity in entities %}
        <div class="row-3">
            <div class="col-sm-6 col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <div><h3>{{ entity.name }}</h3></div>

                        <p><a href="{{ path('category_show', { 'id': entity.id }) }}" class="btn btn-default"
                              role="button">Show</a> <a href="{{ path('category_edit', { 'id': entity.id }) }}"
                                                        class="btn btn-default"
                                                        role="button">Edit</a></p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}