{% extends "::base.html.twig" %}

{% block title %}AppBundle:Main:index{% endblock %}
{#{% block stylesheets %}#}
 {#{{ parent() }}#}

{#<link href="{{ asset('/bundles/taskplanner/css/style.css') }}" type="text/css" rel="stylesheet" />#}
{#{% endblock %}#}

{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1>All your tasks in one place!</h1>
            <hr>
            <p>Try it.</p>
        </div>
    </div>

{% endblock %}
